* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* genaral */
body {
  color: gray;
  font-size: 20px;
}
main img {
  margin-top: 20px;
}
.margin-bot {
  margin-bottom: 40px;
}
p {
  text-align: justify;
}
h3 {
  margin: 20px 0;
}
h1 {
  color: darkcyan;
  size: 40px;
  text-align: center;
  border: 1px solid darkcyan;
  width: 50%;
  padding: 5px 0;
  margin: 60px 0 90px 0;
}
h2 {
  word-spacing: 1px;
  font-size: 35px;
  margin-bottom: 15px;
}

/* background-header */
.background-header {
  background: url(https://image.freepik.com/free-photo/close-up-photo-oil-paints-canvas-wall_176420-2849.jpg)
    no-repeat center center / cover;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background-header p {
  color: white;
  letter-spacing: 18px;
  font-size: 150px;
}

/* menu and header*/
header {
  display: flex;
  justify-content: center;
  background-color: rgb(89, 199, 199);
  align-items: center;
}
.menu {
  list-style-type: none;
  display: flex;
  width: 100%;
  font-size: 25px;
  font-weight: 700;
}
.menu li {
  flex: 2;
  text-align: center;
  display: block;
  border-right: 1px solid white;
}
.menu li:hover {
  background-color: rgb(21, 170, 170);
  cursor: pointer;
}
.menu li:active {
  background-color: darkcyan;
}
.menu li a {
  text-decoration: none;
  color: white;
  display: block;
  letter-spacing: 1px;
  padding: 10px;
}

/* current page */
.menu li:nth-of-type(2) {
  background-color: darkcyan;
}

/* nav */
.nav {
  margin-bottom: 80px;
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav p {
  font-size: 25px;
  font-weight: 800;
}
.nav {
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}
.nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav a {
  text-decoration: none;
  color: rgb(99, 92, 92);
  font-size: 17px;
}
.nav a:hover {
  text-decoration: underline;
  color: darkcyan;
}
.nav a:active {
  color: orange;
}

/* main */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}
