* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  color: gray;
  font-family: Roboto-Regular, "Helvetica Neue", Helvetica, Tahoma, Arial,
    Sans-serif;
  font-size: 12px;
  color: #999;
  height: 2000px;
}
a {
  text-decoration: none;
  color: #999;
}
ul {
  list-style-type: none;
}
.middle {
  margin: 0 auto;
}
/* header */
header {
  height: 108.6px;
}
.wrap-header {
  position: fixed;
  background-color: white;
}
.function {
  background-color: rgba(0, 0, 0, 0.03);
}
.function ul {
  width: 77%;
  display: flex;
  justify-content: space-between;
}
.function a {
  padding: 5px;
  display: block;
  font-weight: 530;
  font-size: 11px;
}
.function a:hover {
  color: #f36d00;
}
.diff-color {
  color: #0f1568;
}
.wrap-search-and-logo {
  height: 75px;
}
.search-and-logo {
  max-width: 77%;
  max-height: 80%;
  display: flex;
  margin-top: 10px;
  align-items: center;
}
.wrap-img {
  margin-right: 35px;
}
.wrap-img:last-of-type {
  margin-right: 0;
}
.search-and-logo img {
  max-width: 100%;
}
.hover {
  cursor: pointer;
}

/* nav */
nav {
  background-color: rgb(197, 2, 36);
}
.nav-items {
  width: 77%;
  display: flex;
}
.nav-items img {
  max-width: 100%;
}
.menu {
  width: 33%;
  height: inherit;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(214, 206, 206);
  padding: 10px 0;
  position: relative;
}
/* .menu li {
  flex: 1;
} */
.menu a {
  display: block;
  height: 26.75px;
  padding-top: 5px;
  padding-left: 8px;
}
.menu a:hover {
  background-color: rgb(226, 218, 218);
  color: #f36d00;
}
.sub-menu {
  padding: 10px 0;
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  width: 195px;
  height: 341px;
  background-color: white;
  box-shadow: 0 0 2px 2px rgb(214, 206, 206);
}
li:hover > .sub-menu {
  display: flex;
  flex-direction: column;
}
