.pop-up {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.main-pop-up-content {
  width: 500px;
  margin-top: 220px;
  margin-left: auto;
  margin-right: auto;
}
.main-pop-up-content img {
  max-width: 100%;
}
